/* src/styles/custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    font-family: "Roboto", sans-serif;
}

.heading{
    @apply text-3xl md:text-7xl tracking-tighter text-center ;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}