/* src/styles/custom.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    /* font-family: "Quicksand", sans-serif; */
    /* font-family: "Vend Sans", sans-serif; */
    /* font-family: "Noto Sans", sans-serif; */
    font-family: "DM Sans", sans-serif;
}

.heading {
    @apply text-3xl tracking-tighter text-center md:text-7xl;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}